<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>Shopping Cart</title>
    </head>

<body>
    <div class="grid-container"> 
        <header class="header">
            <div class="brand">
                <a href="index.html">Shopping Lanka</a>
            </div>
            <div class="header-links">
                <a href="cart.html">Cart</a>
                <a href="signin.html">Sign In</a>
            </div>
        </header>
        <aside>
            Shopping Categories
        </aside>
        <main class="main">
            <div class="content">
                <ul class="products">
                    <li>
                        <img src="" alt="">
                        <div class="product-name"></div>
                        <div class="product-brand"></div>
                        <div class="price"></div>
                    </li>
                </ul>
            </div>
        </main>
        <footer class="footer">
            All right reserved.
        </footer>
    </div>
</body> 
    
</html>